
<div class="colored-navbar">
  <nav class="navbar navbar-expand-lg navbar-light p-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" style="color: rgb(255, 255, 255); background-color: #F7F1E4;">
        <span class="navbar-toggler-icon" style="color: rgb(255, 255, 255); background-color: #F7F1E4;"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <div class="ms-auto"> <!-- Added ms-auto class here -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="color: rgb(255, 255, 255);">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about" style="color: rgb(255, 255, 255);">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="skills" tabindex="-1" style="color: rgb(255, 255, 255);">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects" tabindex="-1" style="color: rgb(255, 255, 255);">Projects</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
