<div class="heading">
  <h2
    style="
      color: #1e6081;
      margin-top: 30px;
      border-bottom: 2px solid #1e6081;
      padding-bottom: 10px;
      margin-left: 112px

    "
  >
    About Me
  </h2>
</div>
<div class="container">
  <section class="about">
    <div class="about-image">
      <img src="/assets/about.png" alt="About Image" />
    </div>
    <div class="about-content">
      <p>
        I'm a dedicated frontend developer who thrives on the excitement of
        learning.
        <br />
        With a burning passion for expanding my horizons, I eagerly embrace new
        challenges to refine my skills. <br />My guiding principle echoes, "It
        matters not how leisurely you progress, as long as you maintain your
        stride and never come to a halt. <br />
        " This philosophy propels me forward, urging me to keep learning, keep
        growing, and keep pushing the boundaries of what I can achieve. <br />
        Every day is a chance to add a new brushstroke to the masterpiece of my
        expertise, and I relish every moment of this artistic journey.
      </p>
      <a href="#" class="download">Download my cv</a>
    </div>
  </section>
</div>
