<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://github.com/r-m169" target="_blank">
                <i class="fab fa-github fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/rodayna-mohamed-b3113222b/" target="_blank">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/rodayna.mohamed.3386" target="_blank">
                <i class="fab fa-facebook fa-2x"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  