<div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 job-title" style="margin-left: 110px;"> <!-- Adjusted margin-left value -->
        <h5>Welcome to My Portfolio</h5>
        <h2><span class="typing-animation">Hello, I'm Rodayna</span></h2>
        <p>
          <span class="typing-animation">
            I specialize in developing the frontend part of websites.<br />
            I take great pride in my work and constantly try to improve my skills.
          </span>
        </p>
        <a href="about" class="btn">More about me</a>
      </div>
      <div class="col-md-5">
        <img src="assets/transparent.png" alt="Image" class="img-fluid" />
      </div>
    </div>
  </div>
  