<div class="heading">
    <h2
      style="
        color: #1e6081;
        margin-top: 30px;
        border-bottom: 2px solid #1e6081;
        /* padding-bottom: 10px; */
      "
    >
      My Skills
    </h2>
<body>
  <div class="container">
    <div class="progress-title">
      <h3>HTML</h3>
      <div class="progress">
        <div class="progress-bar" style="width: 100%; background: rgb(224, 62, 62);">
          <div class="progress-value">100%</div>
        </div>
      </div>
    </div>
    
    <div class="progress-title">
      <h3>CSS3</h3>
      <div class="progress">
        <div class="progress-bar" style="width: 70%; background: rgb(154, 154, 255);">
          <div class="progress-value">70%</div>
        </div>
      </div>
    </div>
    
    <div class="progress-title">
      <h3>Bootstrap</h3>
      <div class="progress">
        <div class="progress-bar" style="width: 20%; background: rgb(36, 36, 141);">
          <div class="progress-value">20%</div>
        </div>
      </div>
    </div>
    
    <div class="progress-title">
      <h3>ReactJS</h3>
      <div class="progress">
        <div class="progress-bar" style="width: 40%; background: greenyellow;">
          <div class="progress-value">40%</div>
        </div>
      </div>
    </div>
    
    <div class="progress-title">
      <h3>NextJS</h3>
      <div class="progress">
        <div class="progress-bar" style="width: 30%; background: rgb(224, 255, 177);">
          <div class="progress-value">30%</div>
        </div>
      </div>
    </div>
  </div>